#Razmer {
    background-color: rgb(36, 184, 184);
    color: aliceblue;
    width: 300px;
}
#Color {
    background-color: rgb(177, 245, 177);
    margin-bottom: 30px;
    margin-top: auto;
    width: 300px;
}